<% @listings.each do |listing| %>

<div class="welcome-container">
	<div id="show-image">
  		<a href="/listings/<%=listing.id%>"><img src="<%= listing.img_url %>" alt="No Image"></a>
  	</div>
  	<div class="show-left">
  		<div id="show-description">
  			<p> <%=  listing.description %> </p>
  		</div>
  		<div id="show-address">
  			<h3> <%= listing.neighborhood %> </h3>
  		</div>
  		<div id="show-price">
  			<h3>$<%= listing.price %> </h3>
  		</div>
  	</div>
</div>
<% end %>


<h4 id="create-listing"> <a href="/listings/new">Create a New Listing</a> </h4>