<h1 id="listings-show-header">Check out This Listing</h1>

<h2 id="show-hood"> <%= @listing.neighborhood %> </h2>



<div id="show">
	<div id="show-image">
		<img src="<%= @listing.img_url %>">
	</div>
	<div class="show-left">
		<div id="show-description">
			<p> <%=  @listing.description %> </p>
		</div>
		<div id="show-price">
			<h3> $<%= @listing.price %>/night </h3>
		</div>
		<div id="show-address">
			<h3> <%= @listing.address %> </h3>
		</div>
	</div>
</div>

<% if current_user %>
	<%if @listing.user_id == current_user.id %>
		<h5 id="show-listing-edit-link"> <a href="/listings/<%= @listing.id %>/edit">Edit this Listing</a> </h5>
		<%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' } %>
	<%else%>
		<a href="/listings/<%=@listing.id%>/bookings/new">New Booking</a>
	<% end %>

<% end %>

