<!DOCTYPE html>
<html>
<head>
  <title>AirbnbetterApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.css">
  <%= javascript_include_tag 'application' %>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navigation-bar">
    <a id="home-link" href="/">Home</a>
    <div class="right">
      <% if current_user %>
        <p class="right"><%= link_to "Log out", logout_path, method: "delete" %></p> 

        <a class="right" href="/users/<%= current_user.id%>" id="hello"> Hello, <%= current_user.username %> </a>   

      <% else %>
        <p class="right"><%= link_to "Log in", login_path %></p>
        <p class="right"><%= link_to "Sign up", signup_path %></p>
      <% end %>
    </div> <!-- right -->
  </div> <!-- navigation-bar -->
  <%= yield %>
</body>
</html>
