<!DOCTYPE html>
<html>
<head>
  <title>AirbnbetterApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/style.css">
  <%= javascript_include_tag 'application' %>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <a id="home-link" href="/">Home</a>
  <% if current_user %>
    <p><%= link_to "Log out", logout_path, method: "delete" %></p> 

    <h4 id="hello"> Hello, <%= current_user.username %> </h4>   
<!-- href="/users/<%= current_user.id%> -->
  <% else %>
    <p><%= link_to "Log in", login_path %></p>
    <p><%= link_to "Sign up", signup_path %></p>
  <% end %>
  <%= yield %>
</body>
</html>
